// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

:root {
  --color-french-lilac: #966b9d;
  --color-old-rose: #c98686;
  --color-old-rose-rgb: 201, 134, 134;
  --color-mellow-apricot: #f2b880;
  --color-seashell: #fff4ec;
  --color-champagne: #e7cfbc;
  --color-raisin-black: #2e282a;
  --color-white: #f2f4f3;

  --color-primary: #f2b880;

  scroll-behavior: smooth;
}

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-850: 53.125em; // 850px
$bp-medium: 50em; // 800px
$bp-700: 43.75em; // 700px
$bp-small: 37.5em; // 600px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  
  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: var(--color-seashell);
  color: var(--color-raisin-black);
  position: relative;
}

main{
  z-index: 10;
}

p, li{
  font-size: 1.6rem;
  line-height: 1.8;
}

a{
  color: var(--color-mellow-apricot);
  text-decoration: none;
}