.link {
  &:visited,
  &:link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--color-raisin-black);
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &--dark::before {
    background-color: var(--color-primary);
  }

  &--light::before {
    background-color: white;
  }

  &--small {
    font-size: 1.4rem;
  }

  &--medium {
    font-size: 1.6rem;
  }

  &--large {
    font-size: 2rem;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

.no-scroll {
  overflow: hidden;
}

.quote{
  position: relative;
  &::before {
    content: "\201C";
    position: absolute;
    top: -0.3rem;
    left: -3rem;
    line-height: 1;
    font-size: 5rem;
    color: var(--color-raisin-black);
    font-family: sans-serif;
    z-index: 1;
  }

  &::after {
    content: "\201D";
    position: absolute;
    top: -0.3rem;
    right: -2rem;
    line-height: 1;
    font-size: 5rem;
    color: var(--color-raisin-black);
    font-family: sans-serif;
    z-index: 1;
  }

  &--large{
    &::before{
      font-size: 12rem;
    }
    &::after{
      font-size: 12rem;
    }
  }
}

.break-line{
  display: block;
  height: 4px;
  border-radius: 20px;
  background-color: var(--color-mellow-apricot);
  max-width: 90vw;
  margin: 3rem auto;
}

.margin__side--large{
  margin: 0 10rem;
}

.center-text{
  text-align: center;
}

.background{
  

  &--white{
    background-color: white;
    white-space: pre-wrap;
  }

  &--apricot{
    white-space: pre-wrap;
    background-color: var(--color-mellow-apricot);
  }
}

.padding{
  &--small{
    padding: 3rem;
  }
}

.margin__side{
  &--medium{
    margin-left: 5rem!important;
    margin-right: 5rem !important;
  }
  &--large{
    margin-left: 10rem !important;
    margin-right: 10rem !important;
  }
}

.underline{
  position: relative;
  display: inline-block;

  &::after{
    content: '';
    position: absolute;  
    bottom: -6px;
    left: 50%;
    width: 110%;
    height: 4px;
    border-radius: 3px;
    transform: translateX(-50%);
  }

  &--white{
    &::after{
      background-color: var(--color-white);
    }  
  }

  &--apricot{
    &::after{
      background-color: var(--color-mellow-apricot);
    }
  }
  &--lilac{
    &::after{
      background-color: var(--color-french-lilac);
    }
  }

  &--rose{
    &::after{
      background-color: var(--color-old-rose);
    }
  }
}